extends tex

snippet m "inline math"
\$${1:${VISUAL}}\$
endsnippet

snippet mm "display math"
\$\$${1:${VISUAL}}\$\$
endsnippet

snippet sub "subscript" i
<sub>${1:${VISUAL}}</sub>
endsnippet

snippet sup "superscript" i
<sup>${1:${VISUAL}}</sup>
endsnippet
