[user]
    name = Matthew Barry
    email = komputerwiz.matt@gmail.com
[github]
    user = komputerwiz
    
[alias]
    br = branch
    ci = commit
    co = checkout
    d = diff
    dt = difftool
    f = fetch
    sm = submodule
    st = status
[core]
    excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[credential]
    helper = cache --timeout=3600
[push]
    default = simple
[init]
    templatedir = ~/.git_template
