[user]
    name = Matthew Barry
    email = komputerwiz.matt@gmail.com
[github]
    user = komputerwiz
    
[alias]
    a = add
    aa = add --all
    br = branch
    ci = commit
    co = checkout
    cp = cherry-pick
    d = diff
    dc = diff --cached
    dt = difftool
    f = fetch
    l = log --pretty=oneline-detailed --graph --all --decorate --date=iso
    rb = rebase
    sm = submodule
    st = status
[core]
    excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    ff = false
[credential]
    helper = cache --timeout=3600
[pretty]
    oneline-detailed = format:%Cgreen%h %Creset[%ad] %Cred%an <%ae> %Cblue%d %Creset%s
[push]
    default = simple
[pull]
    rebase = true
