[user]
    name = Matthew Barry
    email = komputerwiz.matt@gmail.com
[github]
    user = komputerwiz
    
[alias]
    br = branch
    ci = commit
    co = checkout
    d = diff
    dt = difftool
    f = fetch
    sm = submodule
    st = status
[core]
    excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    ff = false
[credential]
    helper = cache --timeout=3600
[pretty]
    oneline-detailed = format:%Cgreen%h %Creset[%ad] %Cred%an <%ae> %Cblue%d %Creset%s
[push]
    default = simple
[pull]
    rebase = true
[init]
    templatedir = ~/.git_template
