"*":
  "atom-beautify":
    html:
      indent_inner_html: true
    js:
      keep_array_indentation: true
      space_after_anon_function: true
  "atom-ternjs": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
    useAlternateScoring: true
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
    ]
    followSymlinks: true
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "cursor-blink-interval":
    cursorBlinkInterval: 1000
  docblockr:
    lower_case_primitives: true
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.1
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "586d1198-37a4-c54f-7140-5fc8f718d6a9"
  "fuzzy-finder": {}
  linter:
    showErrorInline: false
    showErrorTabLine: true
  "linter-csslint": {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    showRuleIdInMessage: true
  "linter-jsonlint": {}
  "linter-php": {}
  "linter-rubocop": {}
  "markdown-preview": {}
  minimap:
    charHeight: 1
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
    scrollAnimation: true
  "minimap-selection":
    highlightCursorsLines: true
  "one-dark-ui":
    layoutMode: "Compact"
  pigments:
    mergeColorDuplicates: true
  "project-manager": {}
  "spell-check": {}
  tabs:
    enableVcsColoring: true
  "todo-show":
    sortBy: "Path"
    statusBarIndicator: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
