<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Sublime Text"> <action name="Execute">
                    <execute>subl</execute>
            </action> </item>
            <item label="Eclipse"> <action name="Execute">
                    <execute>eclipse</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                    <execute>gnome-terminal -e python</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Sublime Text"> <action name="Execute">
                    <execute>subl</execute>
            </action> </item>
            <item label="GVim"> <action name="Execute">
                    <execute>gvim</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                    <execute>gnome-terminal -e vim</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                    <execute>gnome-terminal -e nano</execute>
            </action> </item>
            <item label="gedit"> <action name="Execute">
                    <execute>gedit</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="9" label="Adventure">
                <item label="Sclient"> <action name="Execute">
                        <execute>sclient</execute>
                </action> </item>
            </menu>
            <menu id="10" label="Arcade">
                <item label="Nibbles"> <action name="Execute">
                        <execute>gnome-nibbles</execute>
                </action> </item>
                <item label="Robots"> <action name="Execute">
                        <execute>gnome-robots</execute>
                </action> </item>
            </menu>
            <menu id="11" label="Board">
                <item label="Chess"> <action name="Execute">
                        <execute>gnome-chess</execute>
                </action> </item>
                <item label="Iagno"> <action name="Execute">
                        <execute>iagno</execute>
                </action> </item>
                <item label="Mahjongg"> <action name="Execute">
                        <execute>gnome-mahjongg</execute>
                </action> </item>
                <item label="Monopoly"> <action name="Execute">
                        <execute>gnome-terminal -e monop</execute>
                </action> </item>
            </menu>
            <menu id="12" label="Card">
                <item label="AisleRiot Solitaire"> <action name="Execute">
                        <execute>sol</execute>
                </action> </item>
                <item label="Gnome FreeCell"> <action name="Execute">
                        <execute>sol --variation freecell</execute>
                </action> </item>
                <item label="Tali"> <action name="Execute">
                        <execute>tali</execute>
                </action> </item>
            </menu>
            <menu id="13" label="Puzzle">
                <item label="Five or More"> <action name="Execute">
                        <execute>five-or-more</execute>
                </action> </item>
                <item label="Four-in-a-Row"> <action name="Execute">
                        <execute>four-in-a-row</execute>
                </action> </item>
                <item label="Klotski"> <action name="Execute">
                        <execute>gnome-klotski</execute>
                </action> </item>
                <item label="Lights Off"> <action name="Execute">
                        <execute>lightsoff</execute>
                </action> </item>
                <item label="Mines"> <action name="Execute">
                        <execute>gnome-mines</execute>
                </action> </item>
                <item label="Quadrapassel"> <action name="Execute">
                        <execute>quadrapassel</execute>
                </action> </item>
                <item label="Sudoku"> <action name="Execute">
                        <execute>gnome-sudoku</execute>
                </action> </item>
                <item label="Swell Foop"> <action name="Execute">
                        <execute>swell-foop</execute>
                </action> </item>
                <item label="Tetravex"> <action name="Execute">
                        <execute>gnome-tetravex</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="6" label="Graphics">
            <item label="The GIMP"> <action name="Execute">
                    <execute>gimp</execute>
            </action> </item>
            <item label="XGlyph"> <action name="Execute">
                    <execute>xglyph</execute>
            </action> </item>
            <item label="Image Viewer"> <action name="Execute">
                    <execute>eog</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                    <execute>gnome-terminal -e alsamixer</execute>
            </action> </item>
            <item label="Audacity"> <action name="Execute">
                    <execute>audacity</execute>
            </action> </item>
            <item label="Brasero"> <action name="Execute">
                    <execute>brasero</execute>
            </action> </item>
            <item label="Cheese"> <action name="Execute">
                    <execute>cheese</execute>
            </action> </item>
            <item label="Gnash SWF Viewer"> <action name="Execute">
                    <execute>gnash-gtk-launcher</execute>
            </action> </item>
            <item label="Videos"> <action name="Execute">
                    <execute>totem</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                    <execute>vlc</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Internet">
            <item label="Firefox"> <action name="Execute">
                    <execute>firefox</execute>
            </action> </item>
            <item label="Chromium"> <action name="Execute">
                    <execute>chromium</execute>
            </action> </item>
            <separator/>
            <item label="Pidgin Internet Messenger"> <action name="Execute">
                    <execute>pidgin</execute>
            </action> </item>
            <item label="Empathy"> <action name="Execute">
                    <execute>empathy</execute>
            </action> </item>
            <item label="Thunderbird"> <action name="Execute">
                    <execute>thunderbird</execute>
            </action> </item>
            <item label="Transmission"> <action name="Execute">
                    <execute>transmission-gtk</execute>
            </action> </item>
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                    <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                    <execute>bvnc</execute>
            </action> </item>
            <item label="Desktop Sharing"> <action name="Execute">
                    <execute>vino-preferences</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                    <execute>gnome-terminal -e ftp</execute>
            </action> </item>
            <item label="Mail"> <action name="Execute">
                    <execute>gnome-terminal -e mail</execute>
            </action> </item>
            <item label="Remote Desktop Viewer"> <action name="Execute">
                    <execute>vinagre</execute>
            </action> </item>
            <item label="Talk"> <action name="Execute">
                    <execute>gnome-terminal -e talk</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                    <execute>gnome-terminal -e telnet</execute>
            </action> </item>
            <item label="Wireshark"> <action name="Execute">
                    <execute>wireshark</execute>
            </action> </item>
            <item label="Zenmap"> <action name="Execute">
                    <execute>zenmap</execute>
            </action> </item>
            <item label="Zenmap (as root)"> <action name="Execute">
                    <execute>/usr/share/zenmap/su-to-zenmap.sh</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Dictionary"> <action name="Execute">
                    <execute>gnome-dictionary</execute>
            </action> </item>
            <item label="Document Viewer"> <action name="Execute">
                    <execute>evince</execute>
            </action> </item>
            <item label="LibreOffice Impress"> <action name="Execute">
                    <execute>libreoffice</execute>
            </action> </item>
        </menu>
        <menu id="39" label="Other">
            <item label="Win7-dev"> <action name="Execute">
                    <execute>rdesktop -u matt.barry -d CITD -k en-dv -g 1200x1024 -a 32 -z -P win7-dev.citd.tamu.edu</execute>
            </action> </item>
            <item label="Dropbox"> <action name="Execute">
                    <execute>dropboxd</execute>
            </action> </item>
            <item label="IBus Preferences"> <action name="Execute">
                    <execute>ibus-setup</execute>
            </action> </item>
            <item label="IcedTea-Web Control Panel"> <action name="Execute">
                    <execute>itweb-settings</execute>
            </action> </item>
            <item label="QT V4L2 test Utility"> <action name="Execute">
                    <execute>qv4l2</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                    <execute>gnome-terminal -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                    <execute>gnome-terminal -e dc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Terminal"> <action name="Execute">
                    <execute>gnome-terminal</execute>
            </action> </item>
            <item label="Terminator"> <action name="Execute">
                    <execute>terminator</execute>
            </action> </item>
            <item label="Root Terminal"> <action name="Execute">
                    <execute>gksu -l gnome-terminal</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                    <execute>gnome-terminal -e git</execute>
            </action> </item>
            <item label="Guake Terminal"> <action name="Execute">
                    <execute>guake</execute>
            </action> </item>
            <item label="Nautilus-Actions Configuration Tool"> <action name="Execute">
                    <execute>nautilus-actions-config-tool</execute>
            </action> </item>
            <item label="VirtualBox"> <action name="Execute">
                    <execute>VirtualBox</execute>
            </action> </item>
            <item label="Rdesktop"> <action name="Execute">
                    <execute>rdesktop</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Background"> <action name="Execute">
                            <execute>gnome-control-center background</execute>
                    </action> </item>
                    <item label="Bluetooth"> <action name="Execute">
                            <execute>gnome-control-center bluetooth</execute>
                    </action> </item>
                    <item label="Color"> <action name="Execute">
                            <execute>gnome-control-center color</execute>
                    </action> </item>
                    <item label="Date &amp; Time"> <action name="Execute">
                            <execute>gnome-control-center datetime</execute>
                    </action> </item>
                    <item label="Details"> <action name="Execute">
                            <execute>gnome-control-center info</execute>
                    </action> </item>
                    <item label="Displays"> <action name="Execute">
                            <execute>gnome-control-center display</execute>
                    </action> </item>
                    <item label="GNOME Color Chooser"> <action name="Execute">
                            <execute>gnome-color-chooser</execute>
                    </action> </item>
                    <item label="Guake Preferences"> <action name="Execute">
                            <execute>guake-prefs</execute>
                    </action> </item>
                    <item label="Keyboard"> <action name="Execute">
                            <execute>gnome-control-center keyboard</execute>
                    </action> </item>
                    <item label="Main Menu"> <action name="Execute">
                            <execute>alacarte</execute>
                    </action> </item>
                    <item label="Mouse &amp; Touchpad"> <action name="Execute">
                            <execute>gnome-control-center mouse</execute>
                    </action> </item>
                    <item label="Network"> <action name="Execute">
                            <execute>gnome-control-center network</execute>
                    </action> </item>
                    <item label="Network Connections"> <action name="Execute">
                            <execute>nm-connection-editor</execute>
                    </action> </item>
                    <item label="Notifications"> <action name="Execute">
                            <execute>gnome-control-center notifications</execute>
                    </action> </item>
                    <item label="Online Accounts"> <action name="Execute">
                            <execute>gnome-control-center online-accounts</execute>
                    </action> </item>
                    <item label="Power"> <action name="Execute">
                            <execute>gnome-control-center power</execute>
                    </action> </item>
                    <item label="Printers"> <action name="Execute">
                            <execute>gnome-control-center printers</execute>
                    </action> </item>
                    <item label="Privacy"> <action name="Execute">
                            <execute>gnome-control-center privacy</execute>
                    </action> </item>
                    <item label="Privilege granting"> <action name="Execute">
                            <execute>gksu-properties</execute>
                    </action> </item>
                    <item label="Region &amp; Language"> <action name="Execute">
                            <execute>gnome-control-center region</execute>
                    </action> </item>
                    <item label="Search"> <action name="Execute">
                            <execute>gnome-control-center search</execute>
                    </action> </item>
                    <item label="Sharing"> <action name="Execute">
                            <execute>gnome-control-center sharing</execute>
                    </action> </item>
                    <item label="Sound"> <action name="Execute">
                            <execute>gnome-control-center sound</execute>
                    </action> </item>
                    <item label="Universal Access"> <action name="Execute">
                            <execute>gnome-control-center universal-access</execute>
                    </action> </item>
                    <item label="Wacom Tablet"> <action name="Execute">
                            <execute>gnome-control-center wacom</execute>
                    </action> </item>
                </menu>
                <item label="Customize Look and Feel"> <action name="Execute">
                        <execute>lxappearance</execute>
                </action> </item>
                <item label="Disks"> <action name="Execute">
                        <execute>gnome-disks</execute>
                </action> </item>
                <item label="Manage Printing"> <action name="Execute">
                        <execute>xdg-open http://localhost:631/</execute>
                </action> </item>
                <item label="NVIDIA X Server Settings"> <action name="Execute">
                        <execute>nvidia-settings</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                        <execute>obconf</execute>
                </action> </item>
                <item label="Panel tint2"> <action name="Execute">
                        <execute>tint2conf</execute>
                </action> </item>
                <item label="Rygel Preferences"> <action name="Execute">
                        <execute>rygel-preferences</execute>
                </action> </item>
                <item label="Search and Indexing"> <action name="Execute">
                        <execute>tracker-preferences</execute>
                </action> </item>
                <item label="Users"> <action name="Execute">
                        <execute>gnome-control-center user-accounts</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                    <execute>avahi-discover</execute>
            </action> </item>
            <item label="Cairo Composite Manager"> <action name="Execute">
                    <execute>cairo-compmgr</execute>
            </action> </item>
            <item label="dconf Editor"> <action name="Execute">
                    <execute>dconf-editor</execute>
            </action> </item>
            <item label="Disk Usage Analyzer"> <action name="Execute">
                    <execute>baobab</execute>
            </action> </item>
            <item label="GDM flexiserver"> <action name="Execute">
                    <execute>gdmflexiserver</execute>
            </action> </item>
            <item label="GDM flexiserver in Xnest"> <action name="Execute">
                    <execute>gdmflexiserver -n</execute>
            </action> </item>
            <item label="GDM Setup"> <action name="Execute">
                    <execute>gksu gdmsetup</execute>
            </action> </item>
            <item label="GNOME System Monitor"> <action name="Execute">
                    <execute>gnome-system-monitor</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                    <execute>gnome-terminal -e htop</execute>
            </action> </item>
            <item label="IBus"> <action name="Execute">
                    <execute>ibus-daemon --xim</execute>
            </action> </item>
            <item label="Network Tools"> <action name="Execute">
                    <execute>gnome-nettool</execute>
            </action> </item>
            <item label="Passwords and Keys"> <action name="Execute">
                    <execute>seahorse</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                    <execute>gnome-terminal -e pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                    <execute>gnome-terminal -e pstree</execute>
            </action> </item>
            <item label="Settings"> <action name="Execute">
                    <execute>gnome-control-center --overview</execute>
            </action> </item>
            <item label="System Log"> <action name="Execute">
                    <execute>gnome-system-log</execute>
            </action> </item>
            <item label="Task Manager"> <action name="Execute">
                    <execute>xfce4-taskmanager</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                    <execute>gnome-terminal -e top</execute>
            </action> </item>
            <item label="Wireshark"> <action name="Execute">
                    <execute>wireshark</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Archive Manager"> <action name="Execute">
                    <execute>file-roller</execute>
            </action> </item>
            <item label="Calculator"> <action name="Execute">
                    <execute>gnome-calculator</execute>
            </action> </item>
            <item label="Clocks"> <action name="Execute">
                    <execute>gnome-clocks</execute>
            </action> </item>
            <item label="Contacts"> <action name="Execute">
                    <execute>gnome-contacts</execute>
            </action> </item>
            <item label="Desktop Search"> <action name="Execute">
                    <execute>tracker-needle</execute>
            </action> </item>
            <item label="Documents"> <action name="Execute">
                    <execute>gnome-documents</execute>
            </action> </item>
            <item label="Files"> <action name="Execute">
                    <execute>nautilus</execute>
            </action> </item>
            <item label="Font Viewer"> <action name="Execute">
                    <execute>gnome-font-viewer</execute>
            </action> </item>
            <item label="Help"> <action name="Execute">
                    <execute>yelp</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                    <execute>gnome-terminal -e info</execute>
            </action> </item>
            <item label="Orca"> <action name="Execute">
                    <execute>orca --replace</execute>
            </action> </item>
            <item label="Photos"> <action name="Execute">
                    <execute>gnome-photos</execute>
            </action> </item>
            <item label="Screenshot"> <action name="Execute">
                    <execute>gnome-screenshot --interactive</execute>
            </action> </item>
            <item label="Synergy"> <action name="Execute">
                    <execute>synergy</execute>
            </action> </item>
            <item label="Time Tracker"> <action name="Execute">
                    <execute>hamster</execute>
            </action> </item>
            <item label="Time Tracking Overview"> <action name="Execute">
                    <execute>hamster overview</execute>
            </action> </item>
            <item label="Tomboy Notes"> <action name="Execute">
                    <execute>tomboy --search</execute>
            </action> </item>
            <item label="Tweak Tool"> <action name="Execute">
                    <execute>gnome-tweak-tool</execute>
            </action> </item>
            <item label="VirtualBox"> <action name="Execute">
                    <execute>VirtualBox</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                    <execute>xrefresh</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                    <execute>xsetroot</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
