snippet def "asynchronous module definition"
define(function (require) {

	$0

});
endsnippet

snippet vreq "require (with var assignment)"
var ${2:$1} = require('${1:${VISUAL}}');
$0
endsnippet

snippet req "require"
require('$1')$0
endsnippet

snippet opts "default options definition (underscore)"
var ${2:opts} = _.defaults(_.clone(${1:options}) || {}, {$3});
$0
endsnippet
