"*":
  "exception-reporting":
    userId: "586d1198-37a4-c54f-7140-5fc8f718d6a9"
  editor:
    invisibles: {}
    fontFamily: "Ubuntu Mono"
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    scrollPastEnd: true
    lineHeight: 1.1
    softWrap: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
    fontSize: 12
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    autoHideMenuBar: true
    followSymlinks: true
  linter:
    showErrorInline: false
    statusBar: "Show error of the selected line"
  minimap:
    charHeight: 1
    plugins:
      "highlight-selected": true
      selection: true
    scrollAnimation: true
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  emmet: {}
  docblockr:
    lower_case_primitives: true
  welcome:
    showOnStartup: false
  "linter-csslint": {}
  "linter-eslint":
    showRuleIdInMessage: true
  "atom-beautify":
    html_indent_inner_html: true
    js_space_after_anon_function: true
  "linter-jsonlint": {}
  autosave:
    enabled: true
  "fuzzy-finder": {}
  "markdown-preview": {}
  "spell-check": {}
  tabs: {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "tree-view":
    hideVcsIgnoredFiles: false
  "one-dark-ui":
    layoutMode: "Compact"
  "linter-htmlhint": {}
".html.jinja.text":
  editor:
    preferredLineLength: 100
".jinja.source":
  editor:
    preferredLineLength: 100
