"*":
  editor:
    invisibles: {}
    fontFamily: "Ubuntu Mono"
    fontSize: 13
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    scrollPastEnd: true
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    autoHideMenuBar: true
    followSymlinks: true
    disabledPackages: [
      "vim-mode"
    ]
  linter: {}
  minimap:
    charHeight: 1
  "linter-jshint": {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
    includeCompletionsFromAllBuffers: true
  emmet: {}
  docblockr:
    lower_case_primitives: true
  "exception-reporting":
    userId: "817611d5-0b24-a660-c050-b02502ceb8fa"
  welcome:
    showOnStartup: false
  "linter-coffeelint": {}
".diff.source":
  editor:
    preferredLineLength: 100
